html {
  height: 100%;
}

:root {
  --bg: #fefefe;
  --button: #b3b9c5a6;
  --buttonText: hsla(0, 0%, 0%, 0.85);
  --buttonTextActive: white;
  --buttonActive: #b0b0b0;
  --bgAccent: white;
  --bgAccentContainer: #d7dfed;
  --headerNormal: hsla(0, 0%, 0%, 0.85);
  --textNormal: hsla(0, 0%, 0%, 0.9);
  --textSmall: hsla(0, 0%, 0%, 0.65);
  --textEtc: hsla(0, 0%, 0%, 0.7);
  --textLink: #419eda;
  --quoteBlock: #00000021;
}

body {
  height: 100%;
}
body.dark {
  --bg: #202020;
  --button: #181818;
  --buttonActive: #b3b9c5a6;
  --buttonText: #419eda;
  --buttonTextActive: white;
  --bgAccent: #181818;
  --bgAccentContainer: #181818;
  --headerNormal: #d7dfed;
  --textNormal: #b3b9c5;
  --textSmall: #b3b9c5;
  --textEmphasis: #d7dfed;
  --quoteBlock: #b3b9c5a6;
  --textEtc: #b3b9c5;
  --textLink: #419eda;
  background: var(--bg);
}

.dark-mode-toggle .react-toggle-track-x,
.dark-mode-toggle .react-toggle-track-check {
  width: 16px;
  height: 16px;
}

.dark-mode-toggle.react-toggle .react-toggle-track,
.dark-mode-toggle.react-toggle:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #d7dfed;
}

.social-login-button {
  border: 1px solid var(--textNormal);
  background-color: var(--button);
  color: var(--textNormal);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
  cursor: pointer;
  padding: 0.1em 1em;
  
}

.social-login-button:hover {
  background-color: var(--buttonActive);
  color: var(--buttonTextActive);
}

.social-login-icon {
  color: var(--textNormal);
}

.social-login-button:hover .social-login-icon {
  color: var(--buttonTextActive);
}

.social-login-button img,
.social-login-button p,
.social-login-button textarea {
  margin: 0.1em 1em 0.1em 0;
}
