html {
  height: 100%;
}

:root {
  --bg: white;
  --headerNormal: hsla(0, 0%, 0%, 0.85);
  --textNormal: hsla(0, 0%, 0%, 0.9);
  --textSmall: hsla(0, 0%, 0%, 0.65);
  --textEtc: hsla(0, 0%, 0%, 0.7);
  --textLink: #419eda;
  --quoteBlock: #00000021;
}

body {
  height: 100%;
}

body.dark {
  --bg: black;
  --headerNormal: #d4e9f7;
  --textNormal: #419eda;
  --textSmall: #419eda;
  --textEmphasis: #6cc4ff;
  --quoteBlock: #419edaa6;
  --textEtc: #7fbde6;
  --textLink: #419eda;
  background: var(--bg);
}

.dark-mode-toggle .react-toggle-track-x,
.dark-mode-toggle .react-toggle-track-check {
  width: 16px;
  height: 16px;
}

.dark-mode-toggle.react-toggle .react-toggle-track,
.dark-mode-toggle.react-toggle:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: #33adff;
}
